In [4]:
# demographic data analyzer from FreeCodeCamp
# 10.30.2023
# Ada Kim

import pandas as pd

#import data

df = pd.read_csv('adult.data.csv')

In [4]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
# How many of each race are represented in this dataset? 
# This should be a Pandas series with race names as the index labels.

race_count = pd.value_counts(df['race'])
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
# What is the average age of men?

#average_age_men

condition = df[df['sex']=='Male']['age']
average_age_men = round(condition.mean(), 1)
average_age_men

39.4

In [12]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(len(df[df['education']=='Bachelors'])/len(df)*100, 1)
percentage_bachelors

16.4

In [10]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

advanced_edu = ['Bachelors','Masters','Doctorate']
higher_education = df[df['education'].isin(advanced_edu)]
lower_education = df[~df['education'].isin(advanced_edu)]

In [12]:
# percentage with salary >50K
higher_education_rich = round(len(higher_education[higher_education['salary'] == '>50K'])/len(higher_education)*100, 1)
lower_education_rich = round(len(lower_education[lower_education['salary'] == '>50K'])/len(lower_education)*100, 1)

print(higher_education_rich)
print(lower_education_rich)

46.5
17.4

In [109]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = min(df['hours-per-week'])
min_work_hours

1

In [13]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == 1]
rich_percentage = round(len(num_min_workers[num_min_workers['salary']  == '>50K'])/len(num_min_workers)*100, 1)
rich_percentage

10.0

In [30]:
# What country has the highest percentage of people that earn >50K?
people_total = pd.value_counts(df['native-country'])
rich_total = pd.value_counts(df[df['salary'] == '>50K']['native-country'])
highest_earning_country = (rich_total/people_total*100).sort_values(ascending=False).index[0]
highest_earning_country_percentage = round((rich_total/people_total*100).sort_values(ascending=False).iloc[0],1)

print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

In [137]:
# Identify the most popular occupation for those who earn >50K in India.
india = df[df['native-country'] == 'India']
top_IN_occupation = india[india['salary'] == '>50K']['occupation'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'

## Test function

In [1]:
%run main.py

..........
----------------------------------------------------------------------
Ran 10 tests in 0.038s

OK

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty